.services-container {
  @apply relative w-full flex flex-col justify-center items-center bg-quaternary rounded-xl p-4;
}

.service-btn {
  @apply relative w-full aspect-square flex flex-col items-center justify-center text-white hover:text-lg font-medium cursor-pointer rounded-xl overflow-hidden transition-all duration-300 ease-in-out;
}

.service-btn .icon {
  font-size: 1.8rem;
}

.service-btn:hover .icon {
  transform: scale(1.33);
  transition: transform 0.3s ease-in-out;
}
